.root-header {
  background-color: #e3e3e3;
  padding: 10px 10%;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  width: 60px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.nav{
  align-items: center;
}

.nav a{
  text-decoration: none;
  color: #000000;
  border-radius: 10px;
  padding: 8px 10px;
  margin: 0 10px;
  transition: 0.3s background-color linear, 0.3s color linear;
}

.nav a:hover{
  background-color: #dfb14f;
  color: #fff;
}

.buttons{
  display: flex;
  align-items: stretch;
}

.buttons a {
  margin-left: 10px;
  background-color: #d69f28;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #6860dc;
  text-decoration: none;
}

.buttons a:hover {
  background-color: #dfb14f;
  color: #000000;
}

.buttons button {
  margin-left: 10px;
  font-size: 16px;
  background-color: #d69f28;
  color: #fff;
  padding: 5px 10px;
  width: auto;
  border-radius: 5px;
  border: 1px solid #6860dc;
  text-decoration: none;
}

.buttons button:hover {
  background-color: #dfb14f;
  color: #000000;
}