{% extends "zoopark/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/animal-card.css' %}">
{% endblock %}
{% block content %}
    <h1>Управление</h1>
    <div class="animal-cards-container">
        {% for animal in animals %}
            <a href="{% url 'zoopark:animal' animal.pk %}">
                <div class="animal-card">
                    <img src="{% if animal.image %}{{ animal.image.url }}{% else %}{% static 'media/images/no.jpg' %}{% endif %}">
                    <div class="animal-info">
                    <h2>{{ animal.name }}</h3>
                    <hr/>
                    <p>{{ animal.description }}</p>
                    <ul class="animal-details">
                        <li><span>Вид:</span> {{ animal.type }}</li>
                        <li><span>Семейство:</span> {{ animal.family }}</li>
                        <li><span>Возраст: </span>{{ animal.age }} {% if animal.age == 1 %}год{% elif animal.age < 5 and animal.age > 1 %}года{% else %}лет{% endif %}</li>
                        <li><span>Вольер:</span> {{ animal.aviary }}</li>
                    </ul>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    {% if user.is_superuser %}
        <div class="animal-actions">
            <a href="{% url 'zoopark:add-animal' %}">Добавить животное</a>
            <a href="{% url 'zoopark:add-promocode' %}">Добавить промокод</a>
        </div>
    {% endif %}
{% endblock %}