{% extends "zoopark/base.html" %}
{% load static %}

{% block title %}{{new.header}}{% endblock %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
{% endblock %}
{% block content %}
    <h1>{{ new.header }}</h1>
    <div class="new-card">
        <img src="{{new.image.url}}">
        <div class="new-text">
            {{ new.description }}
        </div>
    </div>
    <div class="edit-style">
        <label>
            Редактировать <input type="checkbox" value="edit" id="edit"> 
        </label>
        <div id="generate-input"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/new.js' %}"></script>
{% endblock %}