{% extends "zoopark/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
{% endblock %}
{% block content %}
    <h1 id="start">Прочее</h1>
    <h2>Навигация</h2>
    <aside>
        <p><a href=#listing>Листинг</a></p>
        <p><a href=#abbr>Аббревиатуры</a></p>
        <p><a href=#dfn>Определения</a></p>
        <p><a href=#quote>Цитаты</a></p>
        <p><a href=#date>Дата и время</a></p>
        <p><a href=#poem>Стихотворение</a></p>
        <p><a href=#references>Ссылки</a></p>
        <p><a href=#olist>Нумерованный список</a></p>
        <p><a href=#ulist>Маркированный список</a></p>
        <p><a href=#dlist>Список определений</a></p>
        <p><a href=#figure>Фигура</a></p>
        <p><a href=#table>Таблица</a></p>
        <p><a href=#form1>Форма</a></p>
        <p><a href=#frame>Фрейм</a></p>
        <p><a href=#audio>Аудио и видео</a></p>
        <p><a href=#image>Адаптивное изображение</a></p>
    </aside>
    <h2 id="listing">Листинг</h2>
    <pre>
        <code>
        function addNumbers(a, b) {
            return a + b;
        }
        </code>
    </pre>
    <p>В этой функции <var>a</var> и <var>b</var> являются переменными, которые передаются в функцию.</p>
    
    <p>Результат работы программы, если вы вызовете <code>addNumbers(5, 10)</code>, будет:</p>
    <samp>15</samp>
    
    <p>Чтобы ввести данные, нажмите <kbd>Enter</kbd> после ввода.</p> 
    <h2 id="abbr">Аббревиатуры</h2>
    <abbr title="Belarusian State University of Informatics and Radioelectronics">BSUIR</abbr><br>
    <abbr title="Union of Soviet Socialist Republics">USSR</abbr><br>
    <abbr title="United States of America">USA</abbr><br>
    <h2 id="dfn">Определения</h2>
    <dfn title="Python">Python - это интерпретируемый, интерактивный, объектно-ориентированный и высокоуровневый язык программирования общего назначения c динамической строгой типизацией и автоматическим управлением памятью, ориентированный на повышение производительности разработчика, читаемости кода, а также на обеспечение переносимости написанных на нем программ.</dfn><br>
    <dfn title="Petrichor">Петрикор — землистый запах, который ощущается сразу после начала дождя</dfn><br>
    <dfn title="Internet">Интернет — информационно - коммуникационная сеть и всемирная система объединённых компьютерных сетей для хранения и передачи информации.</dfn>
    <h2 id="quote">Цитаты</h2>
    <q lang="en" cite="https://www.litres.ru/journal/120-tsitat-pro-zhizn-kotorye-pomogut-vdokhnovitsia-i-zadumatsia/">The sun set behind the mountains, painting the sky in shades of orange and pink.</q><br>
    <q lang="ru" cite="https://www.litres.ru/journal/120-tsitat-pro-zhizn-kotorye-pomogut-vdokhnovitsia-i-zadumatsia/">Думайте о прошлом, только если воспоминания приятны вам.</q><br>
    <blockquote cite="https://www.litres.ru/journal/120-tsitat-pro-zhizn-kotorye-pomogut-vdokhnovitsia-i-zadumatsia/">
        <p>Человек создан, чтобы жить в обществе; разлучите его с ним, изолируйте его – и мысли у него спутаются, характер ожесточится, сотни нелепых страстей зародятся в его душе, сумасбродные идеи пустят ростки в его мозгу, как дикий терновник среди пустыря.</p>
    </blockquote>
    <h2 id="date">Дата и время</h2>
    <time datetime="11:00">11 o'clock</time>
    <time datetime="2004-21-12">12 декабря 2024 года</time>
    <h2 id="poem">Стихотворение</h2>
    <p>Ветры шепчут нежно, <br>
        Листья кружатся в танце, <br>
        Ночь окутывает мир, <br>
        Звезды светят в тишине.</p>
        <pre>
            Тишина, как мечта,   
            Уносит в далекие дали,
            Наполняя душу светом,
            Открывая новые дали.</pre>
            В теплый солнечный день, когда ветер лениво колыхал листья деревьев, я решил отправиться на прогулку в парк, где пели птицы, цветы распускались, а дети смеялись и играли,<wbr> создавая атмосферу радости и умиротворения, что напомнило мне о беззаботных летних днях моего детства, когда всё казалось проще и ярче.
    <h2 id="references">Ссылки</h2>
    <a href="mailto:drinevskiy3@gmail.com?subject=Вопрос">Отправить сообщение по адресу drinevskiy3@gmail.com</a><br>
    <a href="tel:+375447438818">Позвонить </a><br>
    <a href="https://yandex.by/">Яндекс </a><br>
    <a href="{% static 'media/images/zoopark_icon.jpg' %}" download="zoo_icon.pdf">Download Icon</a><br>
    <h2 id="olist">Нумерованный список</h2>
    <ol type="a" reversed>
        <li>Первый элемент</li>
        <li>Второй элемент</li>
        <li>Третий элемент</li>
    </ol>
    <h2 id="ulist">Маркированный список</h2>
    <ul type="square">
        <li>Элемент A</li>
        <li type="disc">Элемент B</li>
        <li>Элемент C</li>
    </ul>
    <h2 id="dlist">Список определений</h2>
    <dl>
        <dt>HTML</dt>
        <dd>Язык разметки для создания веб-страниц.</dd>
        <dt>CSS</dt>
        <dd>Язык стилей для оформления веб-страниц.</dd>
        <dt>JavaScript</dt>
        <dd>Язык программирования для создания интерактивных элементов на веб-страницах.</dd>
    </dl>
    <h2 id="figure">Фигура</h2>
    <figure>
        <img src="{% static 'media/images/zoopark_icon.jpg' %}" alt="">
        <figcaption>Logo</figcaption>
    </figure>
    <h2 id="table">Таблица</h2>
    <table border="1px" cellpading="5%" cellspacing="5px">
        <caption>Тестовый пример</caption>
        <thead>
            <tr>
                <th id="name">Имя</th>
                <th id="surname">Фамилия</th>
                <th id="age">Возраст</th>
                <th id="department">Отдел</th>
                <th id="salary">Зарплата</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Человек</td>
            </tr>
            <tr>
                <td headers="name">Иван</td>
                <td headers="surname">Иванов</td>
                <td headers="age">30</td>
                <td headers="department">Разработка</td>
                <td headers="salary">80000</td>
            </tr>
            <tr>
                <td headers="name">Анна</td>
                <td headers="surname">Седакова</td>
                <td headers="age">28</td>
                <td headers="department">Маркетинг</td>
                <td headers="salary">60000</td>
            </tr>
            <tr>
                <td headers="name">Петр</td>
                <td headers="surname">Петров</td>
                <td headers="age">35</td>
                <td headers="department">HR</td>
                <td headers="salary" >70000</td>
            </tr>
        </tbody>
    </table>
    <h2 id="form1">Форма</h2>
    <form method="post" enctype="multipart/form-data" accept="image/jpeg, image/png, image/jpg">
        {% csrf_token %}
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required enabled>
        <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" maxlength="12" required>
        <br><br>
        <label for="phone">Телефон:</label>
        <input type="tel" id="phone" name="phone">
        <br><br>
        <label for="age">Возраст:</label>
        <input type="number" id="age" name="age" min="0" max="120">
        <br><br>
        <label for="birthdate">Дата рождения:</label>
        <input type="date" id="birthdate" name="birthdate">
        <br><br>
        <label for="appointment">Время встречи:</label>
        <input type="time" id="appointment" name="appointment">
        <br><br>
        <label for="file">Загрузить файл:</label>
        <input type="file" id="file" name="file">
        <br><br>
        <label for="file">Число от 1 до 10:</label>
        <input type="number" id="file" name="file" min="1" max="10">
        <br><br>
        <p>Пол:</p>
        <input type="radio" id="gender1" name="gender" value="male" required checked> 
        <label for="gender1">Мужской</label>
        <input type="radio" id="gender2" name="gender" value="female" required checked> 
        <label class="rd" for="gender2">Женский</label>
        
        <br><br>
        <p>Интересы:</p>
        <input type="checkbox" id="interests1" name="interests" value="sports"> 
        <label for="interests1">Спорт</label>
        <input type="checkbox" id="interests2" name="interests" value="music"> 
        <label for="interests2">Музыка</label>
        <input type="checkbox" id="interests3" name="interests" value="travel"> 
        <label for="interests3">Путешествия</label>
        <br><br>
        <label for="country">Страна:</label>
        <select id="country" name="country">
            <option value="ru">Россия</option>
            <option value="us">Беларусь</option>
            <option value="fr">Франция</option>
            <option value="de">Германия</option>
        </select>
        <br><br>
        Любимый овощ: <input list="vegetablelist" id="fave" name="fave" />
        <br><br>
        <label for="message">Сообщение:</label>
        <textarea id="message" name="message" rows="4" cols="50"></textarea>
        <br><br>
        <textarea name="desc" cols="45" rows="10"
            placeholder="Input description"
            required maxlength="450" disabled></textarea>
        <br><br>
        <input type="submit" value="Отправить">
        <input type="reset" value="Очистить">
    </form>
    <datalist id="vegetablelist">
        <option value="Огурцы" label="Свежие огурцы" />
        <option value="Помидоры">Сочные помидоры</option>
        <option value="Перец" />
      </datalist>
    <h2 id="frame">Фрейм</h2>
    <a href="https://iis.bsuir.by/schedule" target="fr">IIS</a><br>
    <a href="https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0" target="fr">Википедия</a>
    <br><br>
    <iframe name="fr" width="1280" height="720" src="https://iis.bsuir.by/schedule">Old browser</iframe>
    <br><br>
    <h2 id="audio">Аудио и видео</h2>
    <audio controls>
        <source src="{% static 'media/audio/amazed.mp3' %}"/>
    </audio>
    <div>
        <embed
            src="http://www.youtube.com/v/qzA60hHca9s?version=3"
            type="application/x-shockwave-flash"
            width="1080" height="720">
    </div>
    <div>
        <object width="1080" height="720" 
            data="http://www.youtube.com/v/qzA60hHca9s?version=3"
            type="application/x-shockwave-flash">
        <param name="allowFullScreen" value="true">
            <b>Sorry!</b> We can't display this content
 </object>

    </div>
    <br><br>
    <h2 id="image">Адаптивное изображение</h2>
    {% comment %} <picture>
        <source media="(max-width: 500px)" 
            sizes="(max-width: 300px) 50vw, 30vw"
            srcset="{% static 'media/images/pizza-48.png' %} 138w,
                    {% static 'media/images/pizza-96.png' %} 138w"/>
        <source media="(max-width: 1000px)" 
            sizes="(max-width: 600px) 100vw, 50vw"
            srcset="{% static 'media/images/pizza-48.png' %} 416w,
                    {% static 'media/images/pizza-96.png' %} 416w"/>
        <img src="{% static 'media/images/pizza-48.png' %}" alt="Human"/>
    </picture> {% endcomment %}
    <img src="{% static 'media/images/pizza-48.png' %}"
            sizes="(max-width: 50em) 100vw, 50vw"
            srcset="{% static 'media/images/pizza-48.png' %} 200w,
                    {% static 'media/images/pizza-96.png' %} 400w">
    <hr>
    <a href="#start">В начало</a>
{% endblock %}
