@font-face {
    font-family: "Bergamasco"; /* произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    src: url("/static/fonts/Bergamasco/Bergamasco_Regular.otf") format('opentype');  /* путь относительно корня сайта к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
    font-style: normal;  /* стиль шрифта обычный - по умолчанию */
    font-weight: normal;  /* нормальное начертание символов - по умолчанию */ 
}
@font-face {
    font-family: "Bergamasco"; /* произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    src: url("/static/fonts/Bergamasco/Bergamasco_Regular_Italic.ttf") format('truetype');  /* путь относительно корня сайта к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
    font-style: italic;  /* стиль шрифта обычный - по умолчанию */
    font-weight: normal;  /* нормальное начертание символов - по умолчанию */ 
}
@font-face {
    font-family: "Blade"; /* произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    src: url("/static/fonts/Blade/Blade_Regular.ttf") format('truetype');  /* путь относительно корня сайта к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
    font-style: normal;  /* стиль шрифта обычный - по умолчанию */
    font-weight: normal;  /* нормальное начертание символов - по умолчанию */ 
}
@font-face {
    font-family: "Arista"; /* произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    src: url("/static/fonts/Arista Pro/AristaPro-Regular.ttf") format('truetype');  /* путь относительно корня сайта к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
    font-style: normal;  /* стиль шрифта обычный - по умолчанию */
    font-weight: normal;  /* нормальное начертание символов - по умолчанию */ 
}

@font-face {
    font-family: "Ouvality"; /* произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    src: url("/static/fonts/Ouvality_Cyrillic/Ouvality.ttf") format('truetype');  /* путь относительно корня сайта к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
    font-style: normal;  /* стиль шрифта обычный - по умолчанию */
    font-weight: normal;  /* нормальное начертание символов - по умолчанию */ 
}