/* AnimalDetail.css */

.animal-detail-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center vertically */
    /* width: 80%; Set width to 80% */
    margin: 20px auto; /* Center the container */
    padding: 30px; /* Padding around the container */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.animal-image {
    flex: 1; /*Take up proportional space */
    max-width: 600px; /*Set max width for the image */
    align-self: flex-start;
    height: auto; /* Maintain aspect ratio */
    margin-right: 40px; /* Space between image and text */
    border-radius: 8px; /* Rounded corners for the image */
}

.animal-info {
    flex: 2; /* Take up more space than the image */
}

.animal-name {
    font-size: 38px; /* Font size for the name */
    font-weight: bold; /* Bold font */
    margin: 0 0 10px; /* Margin below the name */
    color: #333; /* Dark text color */
}

.animal-description {
    font-size: 16px; /* Font size for the description */
    line-height: 1.6; /* Line height for readability */
    color: #555; /* Slightly lighter text color */
    margin-bottom: 20px; /* Space below description */
    text-indent: 2em;
}

.animal-additional-info {
    font-size: 16px; /* Font size for additional info */
    color: #444; /* Darker text color for additional info */
}

.animal-additional-info p {
    margin: 10px 0; /* Space between additional info paragraphs */
}