/* AnimalDetail.css */

.animal-detail-container {
    display: flex; 
    align-items: center; 
    margin: 20px auto; 
    padding: 30px; 
    background-color: #f9f9f9;
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}

.animal-image {
    flex: 1; 
    max-width: 600px; 
    align-self: flex-start;
    height: auto; 
    margin-right: 40px; 
    border-radius: 8px; 
}

.animal-info {
    flex: 2; 
}

.animal-name {
    font-size: 38px; 
    font-weight: bold; 
    margin: 0 0 10px; 
    color: #333; 
}

.animal-description {
    font-size: 16px;
    line-height: 1.6;
    color: #555; 
    margin-bottom: 20px;
    text-indent: 2em;
}

.animal-additional-info {
    font-size: 16px; 
    color: #444; 
}

.animal-additional-info p {
    margin: 10px 0;
}

.animal-created-updated-info{
    color: #9a9a9a;
    text-align: end;
    font-size: 12px;
}


.animal-update-delete-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 16px;
    margin-bottom: 20px;
}

.animal-update-delete-buttons .update{
    padding: 10px 15px;
    width: 150px;
    background-color: #87cefa;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: inherit;
    transition: background-color 0.3s;
}

.animal-update-delete-buttons .update:hover{
    background-color: #00bfff; 
}

.animal-update-delete-buttons .delete{
    padding: 10px 15px;
    width: 150px;
    background-color: #ea4a4a;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: inherit;
    transition: background-color 0.3s;
}

.animal-update-delete-buttons .delete:hover{
    background-color: #cd1d1d; 
}