@import url('/static/css/fonts.css');

.animal-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Автоматически заполняем колонки */
    gap: 35px; /* Промежутки между карточками */
    margin: 50px 0;
    /* width: 100%; */
}

.animal-cards-container a:hover{
    text-decoration: none;
}

.animal-cards-container article{
    position: relative;
    perspective: 900px;
} 

.animal-card{
    width: 100%; /* Установите ширину карточки */
    height: 700px; /* Автоматическая высота */
    position: relative; /* Для абсолютного позиционирования внутреннего содержимого */
    transition: transform 1s; /*Плавный переход для переворота */
    transform-style: preserve-3d; /*Для сохранения 3D эффекта */
} 

.animal-card.flip {
    transform: rotateY(180deg); /*Переворот на 180 градусов */
}


.animal-card .front,
.animal-card .back {
    position: absolute;  
    backface-visibility: hidden;  
    width: 100%;
    height: 100%;
}

.animal-card .front {
    transform: rotateY(180deg); /*Задняя сторона перевернута */
}

.animal-card .front, .animal-card .back{
    /* background-color: #9e9df8; */
    background-color: #927acf;
    /* background-color: #FFE1A0; */
    border-radius: 25px;
    overflow: hidden;
    display: flex; /* Добавляем Flexbox для карточек */
    flex-direction: column; /* Вертикальное расположение содержимого */
    height: 100%; 
    box-shadow: 0 5px 20px #000000;
    transition: background-color 0.5s, box-shadow 0.5s;
} 

.animal-card .front:hover{
    background-color: rgb(196, 174, 251);
    box-shadow: 0 4px 20px#feca3a;
}
.animal-card .front:hover .animal-info hr{
    border: 1px solid #23c7f0;
}

.animal-card img{
    max-width: 100%;
    /* margin: 10px; */
    height: auto; 
    aspect-ratio: 3 / 2;
}

.animal-card .animal-info {
    flex: 1; /* Позволяет содержимому занимать оставшееся пространство */
    padding: 0 20px; /* Отступы для содержимого карточки */
    display: flex; 
    flex-direction: column;
} 

.animal-card p{
    color: black;
    line-height: 1.2em;
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 1px;
    font-size: 1.3em;
}

.animal-info ul{
    padding: 0;
}

.animal-info hr{
    width: 100%;
    border: 1px solid #FFAE00;
}

.animal-details{
    list-style: none;
    color: black;
}

.animal-details li{
    margin: 0;
    padding: 0 0 10px;
    list-style: none;
    color: black;
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 2px;
    font-size: 1.3em;
}

.animal-details span{
    font-weight: bold;
}

#edit-page.animal-card{
    background-color: #927acf;
    /* background-color: #FFE1A0; */
    border-radius: 25px;
    width: 35%;
    margin: 0 auto;
    overflow: hidden;
    display: flex; /* Добавляем Flexbox для карточек */
    flex-direction: column; /* Вертикальное расположение содержимого */
    height: 100%; 
    box-shadow: 0 5px 20px #000000;
    transition: background-color 0.5s, box-shadow 0.5s;
}


#edit-page.animal-card img{
    max-width: 100%;
    /* margin: 10px; */
    height: auto; 
    aspect-ratio: 3 / 2;
}
#edit-page.animal-card > .animal-info span{
    font-weight: bold;

}

/* #edit-page.animal-card > .actions{
    display: flex;
    width: 100%;
    /* justify-content: space-between; 
} */

#edit-page.animal-card .actions{
    padding: 20px;
    display: flex;
    justify-content:stretch;
    width: 94%;
    gap: 30px;
}
#edit-page.animal-card > .actions > a{
    padding: 20px;
    font-family: "Arista", "Bergamasco", sans-serif;
    font-size: 1.2em;
    border-radius: 10px;
    width: 100%;
}

#edit-page.animal-card > .actions > a:nth-child(1){
    background-color: #FFAE00;
    color: #ffffff;
}
#edit-page.animal-card > .actions > a:nth-child(1):hover{
    background-color: #da9603;
    text-decoration: none;
}

#edit-page.animal-card > .actions > a:nth-last-child(1){
    background-color: #d46262;
    color:#474747;
}

#edit-page.animal-card > .actions > a:nth-last-child(1):hover{
    background-color: #942525;
    color:#474747;
    text-decoration: none;
    
}





.animal-actions{
    padding: 20px;
    display: flex;
    justify-content: center;
    /* width: 60%; */
    /* margin: 0 auto; */
    gap: 10%;
}
.animal-actions > a{
    padding: 20px;
    font-family: "Arista", "Bergamasco", sans-serif;
    font-size: 1.2em;
    border-radius: 10px;
    width: 20%;
}

.animal-actions > a{
    background-color: #FFAE00;
    color: #ffffff;
}
.animal-actions > a:hover{
    background-color: #da9603;
    text-decoration: none;
}

