

.slider-container {
    position: relative;
    width: 1000px;
    height: 750px;
    margin: 60px auto;
    overflow: hidden;
    color: #ffffff;
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 5px;

}

.slider-container figure{
    position: absolute;
    margin: 0 auto;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slider-container figure.active {
    opacity: 1;
    transform: translateX(0);

}
.slider-container figure.prev {
    transform: translateX(-100%);
}
.slider-container figure.next {
    transform: translateX(100%);
}
.slider-container figure figcaption{
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для лучшей читаемости */
    padding: 10px; /* Отступы вокруг текста */
    border-radius: 5px; /* Скругление углов */
}
  
.slider-container figure img {
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.slider-container .slides-count{
    position: absolute;
    left: 4%;
    top: 5%;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для лучшей читаемости */
    padding: 10px; /* Отступы вокруг текста */
    border-radius: 5px; /* Скругление углов */
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 90%;
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: inherit;
}
  
.prev-button {
    left: 10px;
}
  
.next-button {
    right: 10px;
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.pagination div{
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 100%;
}

.pagination div.active{
    background-color: #FFAE00;
    /* background-color: #927acf; */
}


form.controls{
    /* position: absolute; */
    /* bottom: 1px; */
    /* left: -50%; */
    /* transform: translate(-105%, 50%); */
    display: block;
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 5px;
    margin: 0 auto;
    width: 30%;
    color: #000000;
    font-size: 22px;
    font-weight: bold;

}

form.controls .form-element{
    display: block;
    padding: 0 0 15px;  
    width: 100%;
}

form.controls .form-element input{
    padding: 5px;  
    font-size: 16px;
}
 
form.controls .form-element input[type="checkbox"] {
    display: none; /* Скрываем стандартный элемент */
}

form.controls .form-element input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px; /* Отступ для кастомного стиля */
    cursor: pointer; /* Указатель при наведении */
}

form.controls .form-element input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Ширина кастомного радиокнопки */
    height: 20px; /* Высота кастомного радиокнопки */
    border: 2px solid #ccc; /* Граница кастомного радиокнопки */
    border-radius: 2px; /* Закругление для создания круга */
    /* background-image: none; */
    background-color: white;
}

form.controls .form-element input[type="checkbox"]:checked + label::before {
    background-image: url("/static/media/images/galka.png");
    background-size: cover; /* Масштабируем изображение, чтобы оно заполнило весь квадрат */
    background-repeat: no-repeat; /* Избегаем повторения изображения */
}


form.controls input[type="submit"]{
    font-size: 1em ;
    font-family: inherit;
    padding: 0.5em 0.75em;
    background-color: rgb(196, 174, 251);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    width: 100%;
    transition: 0.2s linear all; /* Плавный переход при изменении */
}

form.controls input[type="submit"]:hover{
    background-color: #927acf;

}



.news-container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 50px;
}

.new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #927acf;
    width: 25%;
    border-radius: 25px;
    box-shadow: 0 5px 20px #000000;
}

.new p{
    color: black;
    line-height: 1.2em;
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 1px;
    font-size: 1.4em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.new a{
    color: #FFAE00;
    /* color: rgb(5, 81, 203); */
    line-height: 1.2em;
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 1px;
    font-size: 1.3em;
}

.new a::after{
    content: "";
    background-image: url("/static/media/images/link.png");
    background-size: contain; /* Масштабирование изображения по размеру */
    background-repeat: no-repeat; /* Убирает повторение изображения */
    display: inline-block; /* Позволяет задавать размеры */
    width: 1em; /* Ширина изображения */
    height: 1em; /* Высота изображения */
    margin-left: 10px;
    vertical-align: middle;
}

hr{
    width: 100%;
    border: 1px solid #FFAE00;
}

.input-name{
    position: relative;
    display: flex;
    justify-content: center;
}

.input-name [for]{
    position: absolute; /* Позволяет позиционировать label относительно контейнера */
    left: 38%;     
    top: 30%; 
    font-size: 1em; /* Размер шрифта */
    color: #ffffff; /* Цвет метки */
    transition: 0.2s linear all; /*Плавный переход при изменении*/
    pointer-events: none; /* Игнорирование событий мыши на label */
}

.input-name [type="text"]{
    position: absolute;
    font-size: 1.3em ;
    font-family: inherit;
    width: 25%;
    padding: 0.5em;
    background-color: rgb(196, 174, 251);
    border-radius: 5px;
    border: none;
}

.input-name input:focus{
    background-color: #927acf;
    border: none;
    outline: none;
}

.input-name input:focus + label,
.input-name input:not(:placeholder-shown) + label{
    top: -20%; 
    left: 38%; 
    font-size: 0.9em; /* Уменьшает размер шрифта */
    color: #FFAE00 ; /* Цвет метки при фокусе */
}

.input-name [type="submit"]{
    font-size: 1.3em ;
    font-family: inherit;
    padding: 0.5em 0.75em;
    background-color: rgb(196, 174, 251);
    border-radius: 5px;
    border: none;
    margin-left: 35%;
    transition: 0.2s linear all; /* Плавный переход при изменении */
}

.input-name [type="submit"]:hover{
    background-color: #927acf;

}

.animal-pagination-wrapper{
    display: flex;
    justify-content: center;
}
.animal-pagination{
    display: inline-flex;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;

}

.animal-pagination button{
    padding: 15px 20px;
    color: #3778e1;
    font-family: "Arista", "Bergamasco", sans-serif;
    font-size: 1.3em;
    background-color: #ffffff;
    border: none;
    border-left: 1px solid #ccc;
}

.animal-pagination button.active{
    font-size: 20px;
    color: #ffffff;
    background-color: #3778e1;
}

.animal-pagination button[disabled]{
    background-color: #b9b9b9;
    border: none;
}

.empty-container{
    width: 100%; 
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;  
    font-family: "Arista", "Bergamasco", sans-serif;
    font-size: 1.5em;
}


aside {
    display: flex;
    flex-direction: column;  
    gap: 40px;
}

aside a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    gap: 30px;
    color: #fff;
    line-height: 1.2em;
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 1px;
    font-size: 2.5em;
    border-radius: 50px;
    transition: background-color 0.5s linear, color 0.5s linear;
}

aside a:hover{
    background-color: #FFAE00;
    color: #000000;
    text-decoration: none;
    border-radius: 50px;
}

aside img{
    width: 100px;
    height: 100px;
}
