.notFound{
    text-align: center;
    margin: 40px;
}

.notFound img{
    margin-bottom: 30px;
    width: 350px;
    height: auto;
}

.notFound a{
    color:rgb(25, 147, 35);
    text-decoration: none;
}

.notFound a:hover{
    color:rgb(64, 206, 76);
}
